.footer {
  background: #064a33;
  color: white;
  text-align: center;
  padding: 15px 0;
  font-size: 14px;
  position: relative;
  width: 100%;
  bottom: 0;
}

/* MOBILE RESPONSIVE */
@media (max-width: 768px) {
  .footer {
    padding: 12px 10px;
    font-size: 12px;
  }
}
