.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background: #fff;
  border-bottom: 2px dashed #ccc;
}

.navbar ul {
  display: flex;
  gap: 20px;
  list-style: none;
}

.navbar ul li a {
  text-decoration: none;
  font-weight: 600;
  color: #444;
}
